// ---------------------------------------------------------------------------------------------------------------------
// Placeholder Klassen
@import 'define';

// ---------------------------------------------------------------------------------------------------------------------
// Hauptbereiche
#page {
	@extend %container-inner;
	width: $page-max-width;
	min-height: 100vh;
	padding: rem(15px);
}