<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:spaceless>
		<f:if condition="{data.bodytext}">
			<f:format.html>{data.bodytext}</f:format.html>
		</f:if>

		<f:if condition="{elements}">
			<f:render partial="Elements/MediaWall/Listing" section="Main" arguments="{_all}" />
			<f:render partial="Elements/MediaWall/Listing" section="Content" arguments="{_all}" />
		</f:if>
	</f:spaceless>
</f:section>
</html>