<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:spaceless>
		<div class="slider slider--layout-0">
			<div class="slider--container">
				<f:for each="{elements}" as="item" iteration="iterator">
					<f:render section="Item" arguments="{_all}" />
				</f:for>
			</div>

			<f:render section="Controls" arguments="{_all}" />
			<f:render section="Navigation" arguments="{_all}" />
		</div>
	</f:spaceless>
</f:section>

<f:section name="Controls">
	<div class="container-outer slider--controls">
		<div class="container-inner">
			<div class="slider--prev"><button><xo:svg.inline source="/assets/svg/arrow-left.svg" /></button></div>
			<div class="slider--next"><button><xo:svg.inline source="/assets/svg/arrow-right.svg" /></button></div>
		</div>
	</div>
</f:section>

<f:section name="Navigation">
	<div class="container-outer slider--navigation">
		<div class="container-inner">
			<ul>
				<f:for each="{elements}" as="item" iteration="iterator">
					<li title="{iterator.cycle}{f:if(condition: item.data.title, then: ': {item.data.title}')}"><span>{iterator.cycle}<f:if condition="{item.data.title}">: {item.data.title}</f:if></span></li>
				</f:for>
			</ul>
		</div>
	</div>
</f:section>

<f:section name="Item">
	<div class="container-outer slider--item slider--item-{data.uid}-{item.data.uid}">
		<div class="container-inner">
			<f:if condition="{item.data.title}">
				<header class="slider--item-title">
					<f:render partial="Header/Header" arguments="{header: item.data.title, layout: item.data.title_type}" />
				</header>
			</f:if>

			<f:if condition="{item.data.description}">
				<f:format.html>{item.data.description}</f:format.html>
			</f:if>

			<f:if condition="{item.media.0}">
				<f:render section="Media" arguments="{data: data, item: item, media: item.media.0}" />
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="Media">
	<f:variable name="sliderItemBackground">
		.slider--item-{data.uid}-{item.data.uid} {
			background-image: url('{f:uri.image(image: media, cropVariant: "mobile", maxWidth: 900)}');
		}

		@media (min-width: 768px) {
			.slider--item-{data.uid}-{item.data.uid} {
				background-image: url('{f:uri.image(image: media, cropVariant: "desktop", maxWidth: 1800)}');
			}
		}
	</f:variable>

	<xo:style.inlineCode name="slider--item-{data.uid}-{item.data.uid}" code="{sliderItemBackground}" />
</f:section>
</html>