<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:spaceless>
		<div class="slider slider--layout-0">
			<div class="slider--container">
				<f:for each="{elements}" as="item" iteration="iterator">
					<f:render section="Item" arguments="{_all}" />
				</f:for>
			</div>

			<f:render partial="Elements/Slider/Controls" section="Main" arguments="{_all}" />
			<f:render partial="Elements/Slider/Navigation" section="Main" arguments="{_all}" />
		</div>
	</f:spaceless>
</f:section>

<f:section name="Item">
	<f:variable name="identifier">{data.uid}-{item.data.uid}</f:variable>

	<div class="container-outer slider--item">
		<div class="container-inner">
			<f:debug>{_all}</f:debug>
		</div>
	</div>
</f:section>
</html>