<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>
	<f:section name="Header" />
	<f:section name="Main">

		<f:debug>{_all}</f:debug>

		<f:if condition="{gallery.position.noWrap}">
			<f:then>
				<f:render section="Columns" arguments="{_all}" />
			</f:then>
		</f:if>

		<f:comment>
			<!--
			<div class="ce-text-image ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
				<f:if condition="{gallery.position.vertical} != 'below'">
					<f:render partial="Media/Gallery" arguments="{_all}"/>
				</f:if>

				<div class="ce-bodytext">
					<f:if condition="{gallery.position.noWrap}">
						<f:render partial="Header/All" arguments="{_all}"/>
					</f:if>
					<f:format.html>{data.bodytext}</f:format.html>
				</div>

				<f:if condition="{gallery.position.vertical} == 'below'">
					<f:render partial="Media/Gallery" arguments="{_all}"/>
				</f:if>
			</div>
			-->
		</f:comment>

	</f:section>

	<f:section name="Columns">
		<div class="row">
			<div class="col-xs-12 col-md-{data.columns.0}">
				<f:if condition="{gallery.position.horizontal} == 'left'">
					<f:then><f:render section="Content" arguments="{_all}" /></f:then>
					<f:else><f:render partial="Media/Gallery" section="Container" arguments="{_all}"/></f:else>
				</f:if>
			</div>
			<div class="col-xs-12 col-md-{data.columns.1}">
				<f:if condition="{gallery.position.horizontal} == 'right'">
					<f:else><f:render partial="Media/Gallery" section="Container" arguments="{_all}"/></f:else>
					<f:then><f:render section="Content" arguments="{_all}" /></f:then>
				</f:if>
			</div>
		</div>
	</f:section>

	<f:section name="Content">
		<f:render partial="Header/All" arguments="{_all}"/>
		<f:format.html>{data.bodytext}</f:format.html>
	</f:section>
</html>
