<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">

		<f:variable name="identifier">
			<f:if condition="{identifier}">
				<f:then>{identifier}</f:then>
				<f:else>{data.uid}</f:else>
			</f:if>
		</f:variable>

		<div class="hero-{identifier -> xo:format.trim()}">
			<f:render section="Content" arguments="{_all}" />

			<f:if condition="{media.0}">
				<f:render section="Media" arguments="{media: media.0, identifier: identifier}" />
			</f:if>
		</div>
	</f:section>

	<f:section name="Content">
		<f:if condition="{data.title}">
			<header class="hero--title">
				<f:render partial="Header/Header" arguments="{header: data.title, layout: data.title_type}" />
			</header>
		</f:if>

		<f:if condition="{data.description}">
			<f:format.html>{data.description}</f:format.html>
		</f:if>
	</f:section>

	<f:section name="Media">
		<f:variable name="heroBackground">
			.hero-{identifier -> xo:format.trim()} {
				background-image: url('{f:uri.image(image: media, cropVariant: "mobile", maxWidth: 900)}');
			}

			@media (min-width: 768px) {
				.hero-{identifier -> xo:format.trim()} {
					background-image: url('{f:uri.image(image: media, cropVariant: "desktop", maxWidth: 1800)}');
				}
			}
		</f:variable>

		<xo:style.inlineCode name="hero-{identifier -> xo:format.trim()}" code="{heroBackground}" />
	</f:section>
</html>