<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{file.extension -> xo:format.toLower()} == 'svg'">
			<f:then>
				<f:render section="Svg" arguments="{_all}" />
			</f:then>
			<f:else if="{file.extension -> xo:format.toLower()} == 'mp4'">
				<f:render section="Video" arguments="{_all}" />
			</f:else>
			<f:else>
				<f:render section="Picture" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:section>

	<f:section name="Svg">
		<xo:svg.inline source="{file.publicUrl}" />
	</f:section>

	<f:section name="Picture">
		<xo:media.picture file="{file}" treatIdAsReference="1" width="{image.width}" height="{image.height}" maxWidth="{image.maxWidth}" maxHeight="{image.maxHeight}" cropVariant="{image.cropVariant}" sizes="{sizes}" title="{image.title}" />
	</f:section>

	<f:section name="Video">
		<f:media file="{file}" />
	</f:section>
</div>