<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:spaceless>
		<div id="page">
			<div id="header">
				<div class="row">
					<div class="col-4">
						<f:render partial="Page/Logo" section="Main" />
					</div>

					<f:if condition="{navigationMain}">
						<div class="col-8">
							<nav class="navigation navigation--layout-1">
								<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationMain}" />
							</nav>
						</div>
					</f:if>
				</div>
			</div>

			<div id="content--main">
				<f:render section="Main" />
			</div>

			<div id="footer">
				<f:render partial="Page/Copyright" section="Main" />

				<f:if condition="{navigationFooter}">
					<nav class="navigation navigation-horizontal">
						<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationFooter}" />
					</nav>
				</f:if>
			</div>
		</div>

		<div class="svg-sprite--container">
			<xo:svg.inline source="assets/svg/sprite.svg" />
		</div>

		<f:render partial="Page/FooterScript" section="Main" />
	</f:spaceless>
</html>