// ---------------------------------------------------------------------------------------------------------------------
// Content Elemente

// Aussenabstaende
.ce-frame--outer {
	& {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& > .ce-frame--inner {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

// Laufweite
.ce-frame--class-0 > .ce-frame--inner {
	width: $page-width;
}

// Abstaende
.ce-frame--space-before-none,
.ce-frame--space-before-small,
.ce-frame--space-before-medium {
	padding-top: 0.1px;
}

.ce-frame--space-after-none,
.ce-frame--space-after-small,
.ce-frame--space-after-medium {
	padding-bottom: 0.1px;
}

.ce-frame--space-before-small > .ce-frame--inner {
	margin-top: 1rem;
}

.ce-frame--space-after-small > .ce-frame--inner {
	margin-bottom: 1rem;
}

.ce-frame--space-before-medium > .ce-frame--inner {
	margin-top: 3rem;
}

.ce-frame--space-after-medium > .ce-frame--inner {
	margin-bottom: 3rem;
}