// ---------------------------------------------------------------------------------------------------------------------
// HTML
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@extend %hx;
}

h1, .h1 {
	@extend %h1;
}

h2, .h2 {
	@extend %h2;
}

h3, .h3 {
	@extend %h3;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: $font-size-base;
}

p, ul, ol, table {
	margin: $spacing-default 0 0 0;
}

b, strong {
	font-weight: $font-weight-bold;
}

a {
	@extend %link--default;
}

ul {
	& {
		padding: 0;
	}

	li {
		& {
			position: relative;
			list-style: none;
			padding: 0 0 0 1rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 10px; left: 0;
			border: 2px solid $font-color-base;
		}
	}

	ul {
		margin-top: 0;
	}
}

ol {
	& {
		padding: 0 0 0 1rem;
	}

	li {
		padding: 0 0 0 0.15rem;
	}
}

table {
	@extend %table--default;
}

th, td {
	@extend %th-default;
	@extend %td-default;
}