// ---------------------------------------------------------------------------
// HTML
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 3rem;
	margin-bottom: 0;
	font-weight: $headings-font-weight;
	font-size: $font-size-base;
	line-height: $headings-line-height;
}

h1, .h1 {
	font-size: 3rem;
}

h2, .h2 {
	font-size: 2.3rem;
}

h3, .h3 {
	font-size: 1.6rem;
}

p, ul, ol, table {
	margin: 1rem 0 0 0;
}

b, strong {
	font-weight: 600;
}

ul {
	& {
		padding: 0;
	}

	li {
		& {
			position: relative;
			list-style: none;
			padding: 0 0 0 1rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 10px; left: 0;
			border: 2px solid #000;
		}
	}
}

ol {
	& {
		padding: 0 0 0 1rem;
	}

	li {
		padding: 0 0 0 0.15rem;
	}
}