// ---------------------------------------------------------------------------------------------------------------------
// HTML
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 3rem;
	margin-bottom: 0;
	font-weight: $headings-font-weight;
	font-size: $font-size-base;
	line-height: $headings-line-height;
}

h1, .h1 {
	font-size: 3rem;
}

h2, .h2 {
	font-size: rem(30px);
}

h3, .h3 {
	font-size: rem(24px);
}

p, ul, ol, table {
	margin: 1rem 0 0 0;
}

b, strong {
	font-weight: $font-weight-bold;
}

a {
	& {
		font-weight: $font-weight-bold;
		color: $link-color;
		text-decoration: none;
	}

	&:hover, &:focus {
		color: $link-color-hover;
	}
}

ul {
	& {
		padding: 0;
	}

	li {
		& {
			position: relative;
			list-style: none;
			padding: 0 0 0 1rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 10px; left: 0;
			border: 2px solid $font-color-base;
		}
	}
}

ol {
	& {
		padding: 0 0 0 1rem;
	}

	li {
		padding: 0 0 0 0.15rem;
	}
}

table {
	border-collapse: collapse;
}

th, td {
	& {
		border-bottom: 1px solid #ccc;
		text-align: left;
		vertical-align: top;
	}

	p, ul {
		&:first-child {
			margin-top: 0;
		}
	}
}