// ---------------------------------------------------------------------------------------------------------------------
// Header
$headings-font-weight: 300 !default;
$headings-line-height: 1.15 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Font
$font-family-base: 'Times New Roman', Times, 'Times-Roman', serif !default;
$font-color-base: #000 !default;
$font-size-base-px: 16px !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

// ---------------------------------------------------------------------------------------------------------------------
// Links
$link-color: #2269FF !default;
$link-color-hover: #01329A !default;

// ---------------------------------------------------------------------------------------------------------------------
// Grid columns
$grid-gutter-width: 30px !default;
$grid-order-enabled: false !default;
$grid-offset-enabled: false !default;

// ---------------------------------------------------------------------------------------------------------------------
// Transition
$transition-duration: 0.3s !default;
$transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !default;

// ---------------------------------------------------------------------------------------------------------------------
// Layout
$page-max-width: 1000px !default;

// ---------------------------------------------------------------------------------------------------------------------
// Tobi
$tobi-zoom-icon-background: rgba(26, 42, 58, 0.94) !default;
$tobi-zoom-icon-color: #fff !default;
$tobi-lightbox-background: rgba(26, 42, 58, 0.94) !default;
$tobi-caption-background: rgba(255, 255, 255, 0.94) !default;
$tobi-caption-color: #1a2a3a !default;
$tobi-counter-background: transparent !default;
$tobi-counter-color: #fff !default;
$tobi-button-background: transparent !default;
$tobi-button-color: #fff !default;
$tobi-loader-color: #fff !default;
$tobi-slide-max-height: 85vh !default;
$tobi-slide-max-width: 85vw !default;

// ---------------------------------------------------------------------------------------------------------------------
// Fluid Styled Content
$fsc-textmedia-border-width: 1px !default;
$fsc-textmedia-border-color: $font-color-base !default;
$fsc-textmedia-margin: rem(20px) !default;
$fsc-row-spacing: rem(20px) !default;

// ---------------------------------------------------------------------------------------------------------------------
// Spacing
$spacing-default: rem(20px) !default;
$spacing-small: $spacing-default !default;
$spacing-medium: rem(45px) !default;