<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Svg">
		<f:link.page pageUid="{settings.pages.home}" id="logo" class="logo" title="{f:translate(key : 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo_logo.title', arguments: {0: settings.environment.sitename})}">
			<xo:svg.inline source="assets/svg/logo.svg" attributes="{'role': 'img', 'aria-labelledby': 'accessibility-title'}" title="{f:translate(key : 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo_logo.alt', arguments: {0: settings.environment.sitename})}" />
		</f:link.page>
	</f:section>

	<f:section name="Image">
		<f:link.page pageUid="{settings.pages.home}" id="logo" class="logo" title="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo_logo.title', arguments: {0: settings.environment.sitename})}">
			<f:image src="assets/images/logo.png" alt="{f:translate(key: 'LLL:EXT:xo/Resources/Private/Language/locallang_frontend.xlf:tx_xo_logo.alt', arguments: {0: settings.environment.sitename})}" />
		</f:link.page>
	</f:section>
</div>