@mixin button-variant($background, $color: color-yiq($background), $hover-background: darken($background, 7.5%), $hover-color: color-yiq($hover-background), $active-background: darken($hover-background, 5%), $active-color: color-yiq($active-background)) {
	border-color: $background;
	color: $color;
	@include gradient-bg($background);

	@include hover {
		color: $hover-color;
		@include gradient-bg($hover-background);
		border-color: $hover-background;
	}

	// Disabled comes first so active can properly restyle
	&.disabled,
	&:disabled {
		background-color: $background;
		border-color: $background;
	}

	&:focus,
	&.focus,
	&:not([disabled]):not(.disabled):active,
	&:not([disabled]):not(.disabled).active,
	.show > &.dropdown-toggle {
		color: $active-color;
		background-color: $active-background;
		border-color: $background;
	}
}