// ---------------------------------------------------------------------------------------------------------------------
// Form Elements
%form-item {
  position: relative;
}

%form-field {
	outline: 0;
  padding: rem(3px);
}

select%form-field {
  min-height: rem(32px);
}

// ---------------------------------------------------------------------------------------------------------------------
// Buttons
%button {
  & {
    padding: $spacing-tiny $spacing-small;
    border: 0;
		outline: 0;
    background: #ccc;
    cursor: pointer;
  }

  &:hover, &:focus {
    background: #bbb;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout 0 (Default)
%form--layout-0 {
  %form-item {
    & + %form-item, & + %form-action {
      margin: $spacing-small 0 0 0;
    }
  }

  %form-label {
    & + %form-field {
      margin: $spacing-tiny 0 0 0;
    }
  }

  %form-field {
    width: 100%;
  }
}