// ---------------------------------------------------------------------------------------------------------------------
// Container
%container-outer {
	padding: 0 rem(20px);
}

%container-inner {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}