// ---------------------------------------------------------------------------------------------------------------------
// Container
%container-outer {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}

%container-inner {
  max-width: 100%;
}

// ---------------------------------------------------------------------------------------------------------------------
// Laufweiten
%container-width-full {
  padding-left: 0;
  padding-right: 0;
}

%container-width-normal {
  %container-inner {
    width: $page-max-width;
  }
}

%container-width-indent-right {
	%container-inner {
		width: $page-max-width;
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Ausrichtung
%container-align-center {
  %container-inner {
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// Abstaende
%container-space-before-small,
%container-space-before-medium {
  padding-top: 0.1px;
}

%container-space-after-small,
%container-space-after-medium {
  padding-bottom: 0.1px;
}

%container-space-before-small > %container-inner {
  margin-top: $spacing-default;
}

%container-space-before-medium > %container-inner {
  margin-top: $spacing-medium;
}

%container-space-after-small > %container-inner {
  margin-bottom: $spacing-default;
}

%container-space-after-medium > %container-inner {
  margin-bottom: $spacing-medium;
}

// ---------------------------------------------------------------------------------------------------------------------
// >= MD
@include media-breakpoint-up(md) {
	%container-width-indent-right {
		%container-inner {
			padding-right: percentage(3 / 12);
		}
	}
}