// ---------------------------------------------------------------------------------------------------------------------
// Default
%navigation {
	ul {
		@include list-unstyled();
	}

	li {
		display: block;
	}
}

%navigation-item {
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// Layout-0
%navigation--layout-0 {
	& {
		@extend %navigation;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	a, .current > span {
		@extend %navigation-item;
	}
}