%hx {
	margin-top: 2rem;
	margin-bottom: 0;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
}

%h1 {
	font-size: rem(48px);
}

%h2 {
	font-size: rem(30px);
}

%h3 {
	font-size: rem(24px);
}

%link--default {
	& {
		font-weight: $font-weight-bold;
		color: $link-color;
		text-decoration: none;
	}

	&:hover, &:focus {
		color: $link-color-hover;
	}
}