.ce-xo-teaser {
	.teaser--container {
		margin-top: -15px;
	}

	.teaser--item {
		display: block;
		margin-top: 15px;
	}

	.teaser--item-media {
		& {
			display: block;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

@include media-breakpoint-up(sm) {
	.ce-xo-teaser {
		.teaser--container {
			margin-top: -$grid-gutter-width;
		}

		.teaser--item {
			margin-top: $grid-gutter-width;
		}
	}
}