.address {
	& {
		font-style: normal;
	}

	.address--name {
		font-weight: $font-weight-bold;
	}

	.address--location {
		&, & + .address--item {
			margin: 5px 0 0 0;
		}
	}

	.address--zip + .address--city {
		margin-left: 5px;
	}
}