<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{element.data.link}">
			<f:then>
				<a href="{f:uri.typolink(parameter: element.data.link)}" class="teaser--item">
					<f:render section="Title" arguments="{_all}" />
					<f:render section="Media" arguments="{_all}" />
				</a>
			</f:then>
			<f:else>
				<span class="teaser--item">
					<f:render section="Title" arguments="{_all}" />
				</span>
			</f:else>
		</f:if>
	</f:section>

	<f:section name="Title">
		<span class="teaser--item-title">{element.data.title}</span>
	</f:section>

	<f:section name="Media">
		<f:if condition="{element.media.0}">
			<f:if condition="{element.media.0.properties.extension} == 'jpg' || {element.media.0.properties.extension} == 'png'">
				<f:render partial="Elements/Teaser/Image" section="Main" arguments="{image: element.media.0, element: element}" />
			</f:if>
		</f:if>
	</f:section>
</div>