<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:render section="Variant-{data.tx_xo_variant}" optional="1" arguments="{_all}">

			<div class="ce-logo--item">
				<f:if condition="{logo.link}">
					<f:then>
						<f:link.typolink parameter="{logo.link}">
							<f:render section="Image" arguments="{_all}" />
						</f:link.typolink>
					</f:then>
					<f:else>
						<span>
							<f:render section="Image" arguments="{_all}" />
						</span>
					</f:else>
				</f:if>
			</div>

		</f:render>
	</f:section>

	<f:section name="Image">
		<f:render partial="Components/Media" section="Picture" arguments="{
			file: logo,
			image: {maxWidth: 150, maxHeight: 50, cropVariant: 'default'},
			sizes: {
				0: {maxWidth: 150, maxHeight: 50, mediaQuery: '(min-width: 768px)', cropVariant: 'default'},
				1: {maxWidth: 75, maxHeight: 45, mediaQuery: '(min-width: 1px)', cropVariant: 'default'}
			}
		}" />
	</f:section>
</div>