.btn, .btn-primary, .btn-default, .btn-danger {
	& {
		padding: 0.3rem 1rem;
		background: #ccc;
		border: 0;
	}

	& + .btn {
		margin-left: 0.5rem;
	}

	&:hover {
		cursor: pointer;
		background: #aaa;
	}

	&:focus, &.focus,
	&:not([disabled]):not(.disabled):active, &:not([disabled]):not(.disabled).active {
		box-shadow: none;
		outline: 0;
	}
}