.object-listing {
	.object-listing--header {
		font-weight: 700;
	}

	.object-listing--actions {
		ul {
			@include list-unstyled();
		}

		li {
			&:after {
				content: '|';
				margin: 0 3px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}