<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">

	<div class="filter-item filter-item--single-checkbox {f:if(condition: '{item.resettable} == 1', then: 'filter-item--resettable')} {f:if(condition: '{item.autoSubmit} == 1', then: 'filter-item--auto-submit')}">
		<f:for each="{item.data}" key="value" as="properties">
			<label class="filter-item--option" for="{properties.identifier}">
				<f:form.checkbox id="{properties.identifier}" name="{filter.identifier}[{item.name}][]" value="{properties.value}" checked="{properties.selected}" title="{properties.label}" additionalAttributes="{data-filter-name: item.name}" />
				<span>{properties.label}</span>
			</label>
		</f:for>
	</div>

</f:section>
</html>